/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/* .containment {

} */
.display {
    background-color: black;
    display: flex;
    color: white;
}

#display_img {
    max-width: 50%;
    min-height: 100vh;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}
.display_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@media only screen and (max-width:768px) {
    .display {
        display: block;
    }
    #display_img {
        max-width: 100%;
        min-height: 80vh;
    }
}

.subject h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 15% 5% 15%;
}

.skills {
    color: rgba(31, 30, 29, 0.788);
}

.skills h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    border-bottom: 2px solid black;
}

.line {
    height: 0.3em;
    background-color: black !important;
    border: none;
    width: 10%;
    display: flex;
    justify-content: center;
}

.skills ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills li {
    padding: 2%;
}

@media only screen and (max-width:768px) {
    .skills ul{
        display: block;
    }
    
    .skills li {
        padding: 2% 0;
    }
}

.experience {
    color: rgba(31, 30, 29, 0.788);
}

.experience h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#experience_title {
    padding-bottom: 2%;
    border-bottom: 2px solid black;
}

.experience hr {
    height: 0.3em;
    background-color: black;
    border: none;
    width: 10%;
    display: flex;
    justify-content: center;
}

.work_subject {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20% 5% 20%;
}

.sponsor {
    background-color: rgb(34, 33, 33);
    color: white;
}

.sponsor h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponsor_card {
    display: flex;
}

.sponsor_card_item {
    background-color: white !important;
    color: black !important;
    border-radius: 5%;
    padding: 2%;
    margin: 5%;
    display: inline-block;
    text-align: center;
    transition: width 2s, height 2s, transform 2s;
}

.sponsor_card_item:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}

.sponsor_card_item img {
    height: 40%;
    width: 50%;

}

@media only screen and (max-width:768px) {
    .sponsor_card {
        display: block;
    }
    .sponsor_card_item {
        border-radius: 5%;
        padding: 0.5%;
        margin: 5%;
        display: inline-block;
        text-align: center;
    
    }
}

.contact {
    background-color: black;
    color: white;
    font-size: 1em;
    display: block;
}

.contact_item {
    display: flex;
    margin-left: 5%;
}

.contact_item a{
    text-decoration: none;
    color: white;
}
